/* ==================== color-pallete ==================== */
$theme-a-blue: #0e90d2;
$theme-a-purple: rgb(128, 88, 165);
$theme-a-green: #5eb95e;
$theme-a-red: #dd514c;
$theme-a-organge: rgb(243, 123, 29);
$theme-a-yellow: rgb(250, 210, 50);
$theme-a-organge: rgb(243, 123, 29);
	$theme-a-blue-light: rgb(103, 194, 240);
	$theme-a-purple-light: rgb(200, 131, 255);
	$theme-a-green-light: rgb(161, 240, 137);
	$theme-a-red-light: rgb(236, 164, 154);
	$theme-a-organge-light: rgb(255, 190, 129);
	$theme-a-yellow-light: rgb(255, 240, 134);

$social-twitter:#1DCAFF;
$social-facebook:#335795;
$social-google-plus:#D34836;
$social-linkedin:#0078A8;
$social-youtube:#C02F2A;
$social-github:#4183c4;
$social-instagram:#9F6F54;